<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

  <h1><%= title %> в EJS</h1>
  <h3>Фильм ID: <%= item.id %></h3>

  <table border="1">
    <thead align="center">
      <tr>
        <th>id</th>
        <th>Название фильма</th>
        <th>Жанр</th>
        <th>Актеры</th>
        <th>Год выхода</th>
      </tr>
    </thead>
    <tbody align="center">
      <tr>
        <td><%= item.id %></td>
        <td><%= item.title %></td>
        <td><%= item.genres.map(g => g.name).join(', ') %></td>
        <td><%= item.actors.map(a => `${a.lastName} ${a.name}`).join(', ') %></td>
        <td><%= item.year %></td>
      </tr>
    </tbody>
  </table>

  <form action="/api/edit/" method="patch" name="form" id="form-example">
    <fieldset>
      <legend>Информация о фильме</legend>
      <p><label for="title">Название:</label>
        <input type="text" name="title" value="<%= item.title %>" />
      </p>
      <p><label for="genres">Жанр:</label>
        <%item.genres.forEach((g, index) => {%>
      <div>
        <input type="hidden" name="genres[<%=index%>][id]" value="<%=g.id%>" />
        <input name="genres[<%=index%>][name]" value="<%=g.name%>" />
      </div>
      <%})%>
      </p>
      <p><label for="actors">Актеры:</label>
        <%item.actors.forEach((a, index) => {%>
          <input type="hidden" name="actors[<%=index%>][id]" value="<%=a.id%>" />
      <div>
        <input name="actors[<%=index%>][name]" value="<%=a.name%>" />
      </div>
      <div>
        <input name="actors[<%=index%>][lastName]" value="<%=a.lastName%>" />
      </div>
      <%})%>
      </p>
      <p><label for="year">Год выхода:</label>
        <input type="text" name="year" value="<%= item.year %>" />
      </p>
      <input type="hidden" name="id" value="<%=item.id%>" />
      <p><input type="submit" name="save" value="Сохранить Изменения" /></p>
    </fieldset>
  </form>

  <!--Скрипт для редактирования-->
  <script>
    $(document).ready(function() {
      $(document).on('submit', '#form-example', (event) => {
        event.preventDefault();
        const id = $(event.currentTarget).attr('buttonSubmit');
        console.log(id)
        fetch('/api/edit/', {
          method: 'post',
          headers: {},
          body: new FormData(event.currentTarget)
        }).finally(() => {
          location.reload();
        })
      })
    })
  </script>
  <!--Скрипт для редактирования закончен-->

</html>




<!--"надо сделать fetch для кнопки редактирования (связать server)"-->
<!--"связать html файл, для передачи данных  выранном фильме"-->
<!--"объеденить возможность редактирования  изминением"-->
<!--"бери из api !!!!!!!!!!  МОРОЧЬ СЕБЕГОЛОВУ"-->