<!DOCTYPE html>
<html>

<head>
  <title><%=title %></title>
  <meta charset="utf-8" />
</head>

<body>

  <h1><%=title %> в EJS</h1>

  <h3>Фильмы</h3>

  <table border = "1">
    <thead>
      <tr>
        <th>id</th>
        <th>Название фильма</th>
        <th>Жанр</th>
        <th>Актеры</th>
        <th>Год выпуска</th>
        <th>Редактирование</th>
      </tr>
    </thead>
    <% for(var i=0; i<items.length;i++) {%>
    <tr align = "center">
      <td><a target="_blank" href="<%='/movie/' + items[i].id%>"><%=items[i].id %></a></td>
      <td><%=items[i].title %></td>
      <td><%=items[i].genres.map(element => {
        return element.name;
      }).join(', '); %></td>
      <td><%=items[i].actors.map(element => {
        return `${element.lastName} ${element.name}`;
      }).join(', '); %></td>
      <td><%=items[i].year %></td>
      <td><button onclick="deleteRow(this)">Удалить</button></td>
    </tr>
    <%} %>
  </table>

<script>
function deleteRow(button) {
  const row = button.parentNode.parentNode;
  row.parentNode.removeChild(row);
}
</script>
</body>
<html>
