<!DOCTYPE html>
<html>

<head>
  <title><%=title %></title>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
  <h1><%=title %> в EJS</h1>
  <h3>Фильмы</h3>
  <table border="1">
    <thead>
      <tr>
        <th>id</th>
        <th>Название фильма</th>
        <th>Жанр</th>
        <th>Актеры</th>
        <th>Год выпуска</th>
        <th>Редактирование</th>
      </tr>
    </thead>
    <% for(var i=0; i<items.length;i++) {%>
    <tr align="center">
      <td><a target="_blank" href="<%='/movie/' + items[i].id%>"><%=items[i].id %></a></td>
      <td><%=items[i].title %></td>
      <td><%=items[i].genres.map(element => {
        return element.name;
      }).join(', '); %></td>
      <td><%=items[i].actors.map(element => {
        return `${element.lastName} ${element.name}`;
      }).join(', '); %></td>
      <td><%=items[i].year %></td>
      <td><button data-delete="<%=items[i].id %>">Удалить</button></td>
    </tr>
    <%} %>
  </table>
  <!--Скрипт для удаления-->
  <script>
    $(document).ready(function() {
      $(document).on('click', '[data-delete]', (event) => {
        const id = $(event.currentTarget).attr('data-delete');
        console.log(id)
        fetch('/api/delete/' + id, {
          method: 'delete'
        }).finally(() => {
          location.reload();
        })
      })
    })
  </script>
  <!--Скрипт для удаления закончен-->
</body>
<form action="/movie" method="post" class="form-example">
  <div class="form-example">
    <label for="name">Введите для поиска: </label>
    <input type="text" name="name" id="name" required />
  </div>
  <div class="form-example">
    <input type="submit" value="Поиск" />
  </div>
</form>
<html>

